section#call.call
 .call__wrapper
    .container
      .call__body
          .call__img
            img(src="assets/img/contacts/svg/calling.svg",alt="img")
          .fdc
            .call__title Turite klausimų dėl mūsų paslaugų?
            .call__text textThere are many variations of passages of Lorem Ipsum avaliable, but the majority have suffered alteration.
          a(href="#!").call__button.btn.btn--success Susisiekite



section#schema.schema
 .schema__wrapper
    .container
      .schema__pre-title  MUSŲ PASLAUGOS 
      .schema__title  
        h2 KAIP TAI VEIKIA?
      ul.schema__body
        li.schema__item.schema-item
          .schema-item__img
            img(src="assets/img/about/svg/i1.svg",alt="img")
          .schema-item__title Eik į internetines parduotuves, kopijuok norimos prekės nuorodą.
        li.schema__item.schema-item
          .schema-item__img
            img(src="assets/img/about/svg/i2.svg",alt="img")
          .schema-item__title Grįžk į BIG7express svetainę ir užpildyk formą.
        li.schema__item.schema-item
          .schema-item__img
            img(src="assets/img/about/svg/i3.svg",alt="img")
          .schema-item__title Per 24 val. gauk galutinės kainos pasiūlymą.
        li.schema__item.schema-item
          .schema-item__img
            img(src="assets/img/about/svg/i4.svg",alt="img")
          .schema-item__title Jei pasiūlymas tave tenkina, apmokėk.
        li.schema__item.schema-item
          .schema-item__img
            img(src="assets/img/about/svg/i5.svg",alt="img")
          .schema-item__title Visą likusį darbą padarysime mes. Prekes pristatysime per 5-7 darbo dienas.
     

section#team.team
    .container
      .team__title.title
        h2 OUR TEAM
      .team__body#slider-model.slider-models
          .slider__slider.slider-models__content.slider
            ul.slider-models__slider.slider__body.slider-js-3
              li.slider-models__item.slider-card
                .slider-card__img(style="background-image: url('assets/img/about/slider/i1.png')")
                .slider-card__title Cargo Expert
                .slider-card__name MARK DONALD
                .slider-card__soc.soc
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-twitter
                  a(href="#!").soc__link.icon-link-dark
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-youtube-fill
              li.slider-models__item.slider-card
                .slider-card__img(style="background-image: url('assets/img/about/slider/i1.png')")
                .slider-card__title Cargo Expert
                .slider-card__name MARK DONALD
                .slider-card__soc.soc
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-twitter
                  a(href="#!").soc__link.icon-link-dark
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-youtube-fill
              li.slider-models__item.slider-card
                .slider-card__img(style="background-image: url('assets/img/about/slider/i1.png')")
                .slider-card__title Cargo Expert
                .slider-card__name MARK DONALD
                .slider-card__soc.soc
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-twitter
                  a(href="#!").soc__link.icon-link-dark
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-youtube-fill
              li.slider-models__item.slider-card
                .slider-card__img(style="background-image: url('assets/img/about/slider/i1.png')")
                .slider-card__title Cargo Expert
                .slider-card__name MARK DONALD
                .slider-card__soc.soc
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-twitter
                  a(href="#!").soc__link.icon-link-dark
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-youtube-fill
              li.slider-models__item.slider-card
                .slider-card__img(style="background-image: url('assets/img/about/slider/i1.png')")
                .slider-card__title Cargo Expert
                .slider-card__name MARK DONALD
                .slider-card__soc.soc
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-twitter
                  a(href="#!").soc__link.icon-link-dark
                  a(href="#!").soc__link.icon-facebook-dark
                  a(href="#!").soc__link.icon-youtube-fill