
section.bunner.bunner--tracking
    .bunner-bg.imgs
      picture
        source(srcset='assets/img/treking/bun-tr.jpg'  type='image/jpg'  media='(min-width: 1200px)')
        source(srcset='assets/img/treking/bun-tr.jpg' type='image/jpg'  media='(min-width: 768px) and (max-width: 1199px)')
        source(srcset='assets/img/treking/bun-tr.jpg' type='image/jpg'  media='(max-width: 767px)')
        img(src='assets/img/treking/bun-tr.jpg', alt='img')
    .container
      .bunner__body
          .bunner__title
            h2 Siuntų sekimas
              p  Užsakymo Nr. CD4588
          ul.bunner__items
            li.bunner__item.active
              .bunner__text 
                span Užsakymas vykdomas
                img(src='assets/img/treking/cart.svg', alt='img')
            li.bunner__item 
              .bunner__text 
                span Ruošiama siuntimui
                img(src='assets/img/treking/box.svg', alt='img')
            li.bunner__item 
              .bunner__text 
                span Keliauja
                img(src='assets/img/treking/location.svg', alt='img')
            li.bunner__item 
              .bunner__text 
                span Pristatoma
                img(src='assets/img/treking/trak.svg', alt='img')
            li.bunner__item
              .bunner__text 
                span Pristatyta
                img(src='assets/img/treking/mark.svg', alt='img')
          .bunner__description  Apie užsakymo įvykdymą pranešime el. laišku arba trumpąja žinute