section.bunner
    ._bg.imgs 
      img(data-src='assets/img/header/png/bunner.jpg', alt='img')
    .slider.slider-js-1
        .bunner__body
          .bunner__title
            h1._f700  Apsipirk Londone <br> neįlipęs į lėktuvą
            img(src="assets/img/header/png/dec-2.png",alt="img").bunner__dec-2
          .bunner__text Prekių užsakymas iš Jungtinės Karalystės
            p Pirkti dar niekada nebuvo taip paparasta!
          a(href="#!").bunner__link Gauti adresą
            i.icon-i-1
            img(src="assets/img/header/png/dec-3.png",alt="img").bunner__dec-3

          .bunner__low.bunner-low
              .bunner-low__buttons
                a(href="#!").btn.btn--empty.bunner-low__button Prekių Pirkimas
                a(href="#!").btn.btn--empty.bunner-low__button Adreso Paslauga
                a(href="#!").btn.btn--empty.bunner-low__button Siuntimas
      
        .bunner__body
          .bunner__title
            h1._f700  Apsipirk Londone <br> neįlipęs į lėktuvą
            img(src="assets/img/header/png/dec-2.png",alt="img").bunner__dec-2
          .bunner__text Prekių užsakymas iš Jungtinės Karalystės
            p Pirkti dar niekada nebuvo taip paparasta!
          a(href="#!").bunner__link Gauti adresą
            i.icon-i-1
            img(src="assets/img/header/png/dec-3.png",alt="img").bunner__dec-3

          .bunner__low.bunner-low
              .bunner-low__buttons
                a(href="#!").btn.btn--empty.bunner-low__button Prekių Pirkimas
                a(href="#!").btn.btn--empty.bunner-low__button Adreso Paslauga
                a(href="#!").btn.btn--empty.bunner-low__button Siuntimas
      
        .bunner__body
          .bunner__title
            h1._f700  Apsipirk Londone <br> neįlipęs į lėktuvą
            img(src="assets/img/header/png/dec-2.png",alt="img").bunner__dec-2
          .bunner__text Prekių užsakymas iš Jungtinės Karalystės
            p Pirkti dar niekada nebuvo taip paparasta!
          a(href="#!").bunner__link Gauti adresą
            i.icon-i-1
            img(src="assets/img/header/png/dec-3.png",alt="img").bunner__dec-3

          .bunner__low.bunner-low
              .bunner-low__buttons
                a(href="#!").btn.btn--empty.bunner-low__button Prekių Pirkimas
                a(href="#!").btn.btn--empty.bunner-low__button Adreso Paslauga
                a(href="#!").btn.btn--empty.bunner-low__button Siuntimas
      
      
    img(src="assets/img/header/png/dec-1.png",alt="img").bunner__dec-1
    .bunner__lang.bunner-lang
        a(href="#!").bunner-lang__link
          img(src="assets/img/header/svg/uk.svg",alt="img")
        a(href="#!").bunner-lang__link
          img(src="assets/img/header/svg/lt.svg",alt="img")