section.bunner.bunner--contacts.bunner--service
    .bunner-bg.imgs
      picture
        source(srcset='assets/img/header/png/service.jpg'  type='image/jpg'  media='(min-width: 1200px)')
        source(srcset='assets/img/header/png/service.jpg' type='image/jpg'  media='(min-width: 768px) and (max-width: 1199px)')
        source(srcset='assets/img/header/png/service-sm.jpg' type='image/jpg'  media='(max-width: 767px)')
        img(src='assets/img/header/png/service.jpg', alt='img')
    .container
      .bunner--contacts__body
        .bunner__col
          .bunner__pre-title  PREKIŲ SIUNTIMAS IŠ JK
          .bunner__title
            h1 ADRESO PASLAUGA
          .bunner__address.address
            .address__title Gaukite adresą Londone!
            .address__text Jūsų el. pašto adresas
            form.address__form
              input(type="address" id="address-form" placeholder="vardas@pastas.lt")
              button(type="submit" id="submit-form").btn.btn--success Gauti adresą 
        .bunner__col
          .bunner__title-serv
            h2 Kodėl verta?
          .bunner__items
            .bunner__item.bunner-item
              .bunner-item__number 01
              .bunner-item__text Pirk iš skirtingų parduotuvių neribotai
            .bunner__item.bunner-item
              .bunner-item__number 02
              .bunner-item__text Krauk visas prekes į vieną dėžę
            .bunner__item.bunner-item
              .bunner-item__number 03
              .bunner-item__text Mokėk kaip už vieną siuntą 