section.bunner.bunner--single
    .bunner-bg.imgs
      picture
        source(srcset='assets/img/single/single.jpg'  type='image/jpg'  media='(min-width: 1200px)')
        source(srcset='assets/img/single/single-lg.jpg' type='image/jpg'  media='(min-width: 768px) and (max-width: 1199px)')
        source(srcset='assets/img/single/single-sm.jpg' type='image/jpg'  media='(max-width: 767px)')
        img(src='assets/img/single/single.jpg', alt='img')
    .container
      .bunner__body
        .bunner__slider
          .single__soc.single-soc 
            a(href='#!').single-soc__item.single-soc__item--facebook
              i.icon-facebook-dark1
            a(href='#!').single-soc__item.single-soc__item--twit
              i.icon-twitter1
            a(href='#!').single-soc__item.single-soc__item--share
              i.icon-share2
          #slider-single.slider
            ul.slider__slider.slider__body.slider-js-single
                li.slider__item.slider-card
                  .imgs 
                    img(src='assets/img/single/single-slide.jpg', alt='img')
                li.slider__item.slider-card
                  .imgs 
                    img(src='assets/img/single/single-slide.jpg', alt='img')
                li.slider__item.slider-card
                  .imgs 
                    img(src='assets/img/single/single-slide.jpg', alt='img')
                li.slider__item.slider-card
                  .imgs 
                    img(src='assets/img/single/single-slide.jpg', alt='img')
                
             
        .bunner__info.info-single
          .info-single__title  GOODS CONTAIN IN SAFE PLACE
          .info-single__text 
            p  Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
            p   It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
          
        .bunner__buttons.bunner-buttons
            .bunner-buttons__data
              .bunner-buttons__num  071
              .bunner-buttons__month  March 2020
              .bunner-buttons__month  April 2021
            ul.bunner-buttons__soc 
              li.bunner-buttons__item
                a(href='#!').bunner-buttons__item--facebook
                  i.icon-facebook-dark1 
                  span  SHARE
              li.bunner-buttons__item
                a(href='#!').bunner-buttons__item--twitter
                  i.icon-twitter1 
                  span  TWEET
              li.bunner-buttons__item
                a(href='#!').bunner-buttons__item--pay
                  span  PAYLA$
      .bunner__description  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

