section.bunner.bunner-order.ord.calc
    .container
        .bunner__body
          .ord__title
            h2 SIUNTOS KAINOS SKAIČIUOKLĖ
          form.ord__form.ord-form
            .ord-form__title Siuntiniai
            .ord-form__range
              .ord-form__green
            .connect__form
              ul.calc__links 
                li.calc__item
                  a(href="#!").calc__link  Siuntos tipas
                li.calc__item
                  a(href="#!").calc__link  Plotis
                li.calc__item
                  a(href="#!").calc__link  Aukštis
                li.calc__item
                  a(href="#!").calc__link  Ilgis
                li.calc__item
                  a(href="#!").calc__link  Svoris
              .ord-form__block
                a(href="#!").calc__button.btn.btn--success Pridėti siuntinį 
                span There are no siuntiniai.
              .jucs
                .ord-form__block
                  .ord-form__title-big  Nested forms count
                  .ord-form__line 
                      .connect__form-item
                        input#count(type='text' required='' placeholder='0')
                        a(href="#!").btn.btn--success.calc__button Siuntėjo informacija 