section.bunner.bunner--news-page
    .bunner-bg.imgs
      picture
        source(srcset='assets/img/news-page/news-page.jpg'  type='image/jpg'  media='(min-width: 1200px)')
        source(srcset='assets/img/news-page/news-page.jpg' type='image/jpg'  media='(min-width: 768px) and (max-width: 1199px)')
        source(srcset='assets/img/news-page/news-page-sm.jpg' type='image/jpg'  media='(max-width: 767px)')
        img(src='assets/img/news-page/news-page.jpg', alt='img')
    .container
      .bunner__body
        .bunner__col
          .bunner__title 
            h2 Lorem Ipsum is simply dummy text 
          a(href='#!').bunner__button  read more
        .bunner__info
          .bunner__date  18 August  2021
          .bunner__dec
          .bunner__text  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 