section.bunner.bunner-order.ord.price
    .container
        .bunner__body
          .ord__title
            h2 PREKĖS KAINOS UŽKLAUSA
          form.ord__form.ord-form
            .connect__form
              .ord-form__block
                .ord-form__title-big Jūsų vardas, pavardė*
                .ord-form__line
                  .connect__form-item
                    input#name(type='text' required='' placeholder='ppp')
                    label(for='name') Vardas
                  .connect__form-item
                    input#text1(type='text' required='' placeholder='pp')
                    label(for='text1') Pavardė
              .jucs
                .ord-form__block
                  .ord-form__title-big El. pašto adresas*
                  .ord-form__line
                    .connect__form-item
                      input#name(type='text' required='' placeholder='ppp')
                      label(for='name') Vardas@pastas.lt
                .ord-form__block
                  .ord-form__title-big Tel. nr.
                  .ord-form__line
                    .connect__form-item
                      input#text1(type='text' required='' placeholder='pp')
                      label(for='text1') +370 600 00000
           
              .jucs
                .fdc
                  .ord-form__title-big  Nuoroda į produktą (URL)*
                  .ord-form__line 
                        .connect__form-item
                          span +
                          input#text2(type='text' required='' placeholder='pp')
                          .connect__description Įrašykite nuorodą į jūsų norimo produkto pirkimo puslapį. (Pvz.: amazon, ebay, ir t.t.)
                a(href="#!").btn.btn--success.ord__button--large Gauti Pasiūlymą