section.bunner.bunner--contacts
    .container
      .bunner--contacts__body
        .bunner__col
          .bunner__pre-title  BIG7EXPRESS
          .bunner__title
            h1 TURITE KLAUSIMŲ?

        .bunner__col.connect
          form.connect__form
            .connect__form-item
              input#name(type='text' required='' placeholder=' ')
              label(for='name') Vardas
            .connect__form-item
              input#phone(type='phone' required='' placeholder=' ')
              label(for='phone') TEL. NUMERIS
            .connect__form-item
              input#email(type='email' required='' placeholder=' ')
              label(for='email') EL. PAŠTAS
            .connect__form-item
              textarea#message(type='text' required='' placeholder=' ' wrap="off")
              label(for='message') Žinutė
              ._mark
            .form__submit-button
              button#submit-button.btn.btn--success SIŪSTI