section.first.first--about
  //- header.header
  //-   .container
  //-     .header__body
  //-       a(href="#!").header__logo
  //-         img(src="assets/img/header/svg/logo.svg",alt="img")
  //-       nav.header__menu.menu
  //-         i.icon-close2.header__close
  //-         ul.menu__list
  //-           li.menu__item
  //-               a.menu__link(href="#!").menu__link--active KAINOS UŽKLAUSA
  //-           - 
  //-                   items = [
  //-                       { title: "ADRESO PASLAUGA ", url: "#!"},
  //-                       { title: "SIUNTOS", url: "#!"},
  //-                       { title: "TRANSPORTAS", url: "#!"},
  //-                       { title: "APIE MUS", url: "#!"},
  //-                       { title: "KONTAKTAI", url: "#!"},
  //-                     ]
  //-           each item in items
  //-             li.menu__item
  //-               a.menu__link(href=item.url)=item.title
  //-       .header__info.info
  //-         .info_search
  //-           input(type='text' placeholder='SIUNTOS SEKIMAS')
  //-           i.icon-search
  
  //-       i.icon-menu.header__burger
  section.bunner.bunner--about
    .container
      .bunner__body
        .bunner__title
          h1  KODĖL VERTA RINKTIS MUS?
        .bunner__items
          .bunner__item
            .bunner__img
              img(src="assets/img/about/svg/i-1.svg",alt="img")
            .bunner__text 
              p Greitas pristatymas.
              p Pristatysime per 5-7 darbo dienas.
          .bunner__item
            .bunner__img
              img(src="assets/img/about/svg/i-2.svg",alt="img")
            .bunner__text 
              p Jokios rizikos.
              p Visos siuntos yra apdraustos.
          .bunner__item
            .bunner__img
              img(src="assets/img/about/svg/i-3.svg",alt="img")
            .bunner__text 
              p Geriausi kainos pasiūlymai.
              p JK parduotuvių siūlomos nuolaidos.