section.bunner.bunner-order.ord
    .container
        .bunner__body
          .ord__title
            h2 Paėmimas iš
          form.ord__form.ord-form
            .ord-form__title Siuntėjo informacija
            .ord-form__range
              .ord-form__green
            .connect__form
              .ord-form__block
                .ord-form__title-big Address
                .ord-form__line
                  .connect__form-item
                    input#name(type='text' required='' placeholder=' Denzel Washington')
                    label(for='name') Street Address
                  .connect__form-item
                    input#email(type='email' required='' placeholder=' thebestmail@mail.com')
                    label(for='email') ZIP / Postal Code
                  .connect__form-item
                    .block__select
                        select.select
                          option(value='Country' disabled ) Country
                          option(value='usa' ) usa
                          option(value='uk') uk
                          option(value='Russia') Russia
                          option(value='Somali') Somali
                          option(value='Uganda') Uganda
                        i.icon-i-1.block__icon
              .jucs
                .ord-form__block
                  .ord-form__title-big  El. pašto adresas*
                  .ord-form__line 
                      .connect__form-item
                        input#email(type='email' required='' placeholder=' thebestmail@mail.com')
                        label(for='email') Vardas@pastas.lt
                .ord-form__block
                  .ord-form__title-big  Tel. nr.
                  .ord-form__line
                      .connect__form-item
                        input#email(type='email' required='' placeholder=' thebestmail@mail.com')
                        label(for='email') +370 600 00000