section#buy.buy
  .buy__wrapper
    .buy__bg.imgs
      img(src='assets/img/service/buy.jpg', alt='img')

    .container
      .buy__body
          .buy__title 
            h2 Viens, du - kiek noriu, tiek perku
          ul.buy__items
            li.buy__item
              .buy__text  Gauk nuosavą adresą Londone
              .buy__num 
                span 1
            li.buy__item
              .buy__text  Pirk pats, naudodamas naująjį adresą
              .buy__num 
                span 2
            li.buy__item
              .buy__text  Mes priimsime tavo prekes
              .buy__num 
                span 3
            li.buy__item
              .buy__text  Jas sukrausime į vieną siuntą
              .buy__num 
                span 4
            li.buy__item
              .buy__text  Tau panorėjus ją išsiųsime
              .buy__num 
                span 5
              
          a(href='#!').buy__button.btn.btn--success  Išbandyti dabar
