section#cost.cost
      .cost__title
          h2 KODĖL VERTA?
      ul.cost__body
        ._mark._mark--1
        ._mark._mark--2
        ._mark._mark--3
        ._mark._mark--4
        ._mark._mark--5
        li.cost__item.cost-item
          .cost-item__body
            img.cost-item__img(src="assets/img/cost/svg/svg-1.svg",alt="img")
            p.cost-item__text Per 24 val. pateiksime geriausią galutinės kainos pasiūlymą
        li.cost__item.cost-item
          .cost-item__body
            img.cost-item__img(src="assets/img/cost/svg/svg-2.svg",alt="img")
            p.cost-item__text Nupirksime, pristatysime iki durų ir jokių tarpininkavimo mokesčių
        li.cost__item.cost-item
          .cost-item__body
            img.cost-item__img(src="assets/img/cost/svg/svg-3.svg",alt="img")
            p.cost-item__text Jokios rizikos. Visos siuntos apdraustos
        li.cost__item.cost-item
          .cost-item__body
            img.cost-item__img(src="assets/img/cost/svg/svg-4.svg",alt="img")
            p.cost-item__text Prie lango rymoti neteks. Pristatysime per 5–7 darbo dienas
        li.cost__item.cost-item
          .cost-item__body
            img.cost-item__img(src="assets/img/cost/svg/svg-5.svg",alt="img")
            p.cost-item__text Platus prekių ir nuolaidų pasirinkimas Jungtinės Karalystės parduotuvėse
      