section#feedback.feedback
    .container
      .news__title.title
          h2 ATSILIEPIMAI
          span.title__description  KĄ MŪSŲ KLIENTAI SAKO APIE MUS
      .feedback__body
        .feedback__item.feedback-item
          img.feedback-item__img(src="assets/img/img_parallax.png",alt="img")
          .feedback-item__title title
          .feedback-item__description description
          .feedback-item__text text
          .feedback-item__button(type="button") button
