section#header
  header.header
    .container
      .header__body
        a(href="#!").header__logo
          img(src="assets/img/header/svg/logo.svg",alt="img")
        nav.header__menu.menu
          i.icon-close21.header__close
          ul.menu__list
            li.menu__item
                a.menu__link(href="#!").menu__link--active KAINOS UŽKLAUSA
            - 
                    items = [
                        { title: "ADRESO PASLAUGA ", url: "#!"},
                        { title: "SIUNTOS", url: "#!"},
                        { title: "TRANSPORTAS", url: "#!"},
                        { title: "APIE MUS", url: "#!"},
                        { title: "KONTAKTAI", url: "#!"},
                      ]
            each item in items
              li.menu__item
                a.menu__link(href=item.url)=item.title
        .header__info.info
          .info_search
            input(type='text' placeholder='SIUNTOS SEKIMAS')
            i.icon-Vector
        i.icon-menu1.header__burger

.first#first
  include /bunner-home  
  //- include /bunner-contacts
  //- include /bunner-single
  //- include /bunner-news-page
  //- include /bunner-treking
  //- include /bunner-service
  //- include /bunner-ord
  //- include /bunner-calc
  //- include /bunner-about
  //- include /bunner-price
  



