section.first
  header.header
    .container
      .header__body
        a(href="#!").header__logo
          img(src="assets/img/header/svg/logo.svg",alt="img")
        nav.header__menu.menu
          i.icon-close2.header__close
          ul.menu__list
            li.menu__item
                a.menu__link(href="#!").menu__link--active KAINOS UŽKLAUSA
            - 
                    items = [
                        { title: "ADRESO PASLAUGA ", url: "#!"},
                        { title: "SIUNTOS", url: "#!"},
                        { title: "TRANSPORTAS", url: "#!"},
                        { title: "APIE MUS", url: "#!"},
                        { title: "KONTAKTAI", url: "#!"},
                      ]
            each item in items
              li.menu__item
                a.menu__link(href=item.url)=item.title
        .header__info.info
          .info_search
            input(type='text' placeholder='SIUNTOS SEKIMAS')
            i.icon-search
        i.icon-menu.header__burger



  section.bunner.bunner--contacts.bunner--service
    .bunner-bg.imgs
      picture
        source(srcset='assets/img/header/png/service.jpg'  type='image/jpg'  media='(min-width: 1200px)')
        source(srcset='assets/img/header/png/service.jpg' type='image/jpg'  media='(min-width: 768px) and (max-width: 1199px)')
        source(srcset='assets/img/header/png/service-sm.jpg' type='image/jpg'  media='(max-width: 767px)')
        img(src='assets/img/header/png/service.jpg', alt='img')
    .container
      .bunner--contacts__body
        .bunner__col
          .bunner__pre-title  PREKIŲ SIUNTIMAS IŠ JK
          .bunner__title
            h1 ADRESO PASLAUGA
          .bunner__address.address
            .address__title Gaukite adresą Londone!
            .address__text Jūsų el. pašto adresas
            form.address__form
              input(type="address" id="address-form" placeholder="vardas@pastas.lt")
              button(type="submit" id="submit-form").btn.btn--success Gauti adresą 
        .bunner__col
          .bunner__title-serv
            h2 Kodėl verta?
          .bunner__items
            .bunner__item.bunner-item
              .bunner-item__number 01
              .bunner-item__text Pirk iš skirtingų parduotuvių neribotai
            .bunner__item.bunner-item
              .bunner-item__number 02
              .bunner-item__text Krauk visas prekes į vieną dėžę
            .bunner__item.bunner-item
              .bunner-item__number 03
              .bunner-item__text Mokėk kaip už vieną siuntą 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  //- section.bunner
  //-   .slider.slider-js-1
  //-       .bunner__body
  //-         .bunner__title
  //-           h1._f700  Apsipirk Londone <br> neįlipęs į lėktuvą
  //-           img(src="assets/img/header/png/dec-2.png",alt="img").bunner__dec-2
  //-         .bunner__text Prekių užsakymas iš Jungtinės Karalystės
  //-           p Pirkti dar niekada nebuvo taip paparasta!
  //-         a(href="#!").bunner__link Gauti adresą
  //-           i.icon-i-1
  //-           img(src="assets/img/header/png/dec-3.png",alt="img").bunner__dec-3

  //-         .bunner__low.bunner-low
  //-             .bunner-low__buttons
  //-               a(href="#!").btn.btn--empty.bunner-low__button Prekių Pirkimas
  //-               a(href="#!").btn.btn--empty.bunner-low__button Adreso Paslauga
  //-               a(href="#!").btn.btn--empty.bunner-low__button Siuntimas
      
  //-       .bunner__body
  //-         .bunner__title
  //-           h1._f700  Apsipirk Londone <br> neįlipęs į lėktuvą
  //-           img(src="assets/img/header/png/dec-2.png",alt="img").bunner__dec-2
  //-         .bunner__text Prekių užsakymas iš Jungtinės Karalystės
  //-           p Pirkti dar niekada nebuvo taip paparasta!
  //-         a(href="#!").bunner__link Gauti adresą
  //-           i.icon-i-1
  //-           img(src="assets/img/header/png/dec-3.png",alt="img").bunner__dec-3

  //-         .bunner__low.bunner-low
  //-             .bunner-low__buttons
  //-               a(href="#!").btn.btn--empty.bunner-low__button Prekių Pirkimas
  //-               a(href="#!").btn.btn--empty.bunner-low__button Adreso Paslauga
  //-               a(href="#!").btn.btn--empty.bunner-low__button Siuntimas
      
  //-       .bunner__body
  //-         .bunner__title
  //-           h1._f700  Apsipirk Londone <br> neįlipęs į lėktuvą
  //-           img(src="assets/img/header/png/dec-2.png",alt="img").bunner__dec-2
  //-         .bunner__text Prekių užsakymas iš Jungtinės Karalystės
  //-           p Pirkti dar niekada nebuvo taip paparasta!
  //-         a(href="#!").bunner__link Gauti adresą
  //-           i.icon-i-1
  //-           img(src="assets/img/header/png/dec-3.png",alt="img").bunner__dec-3

  //-         .bunner__low.bunner-low
  //-             .bunner-low__buttons
  //-               a(href="#!").btn.btn--empty.bunner-low__button Prekių Pirkimas
  //-               a(href="#!").btn.btn--empty.bunner-low__button Adreso Paslauga
  //-               a(href="#!").btn.btn--empty.bunner-low__button Siuntimas
      
      
  //- img(src="assets/img/header/png/dec-1.png",alt="img").bunner__dec-1
  //- .bunner__lang.bunner-lang
  //-       a(href="#!").bunner-lang__link
  //-         img(src="assets/img/header/svg/uk.svg",alt="img")
  //-       a(href="#!").bunner-lang__link
  //-         img(src="assets/img/header/svg/lt.svg",alt="img")

  //- section.bunner.bunner-order.ord
  //-   .container
  //-       .bunner__body
  //-         .ord__title
  //-           h2 Paėmimas iš
  //-         form.ord__form.ord-form
  //-           .ord-form__title Siuntėjo informacija
  //-           .ord-form__range
  //-             .ord-form__green
  //-           .connect__form
  //-             .ord-form__block
  //-               .ord-form__title-big Address
  //-               .ord-form__line
  //-                 .connect__form-item
  //-                   input#name(type='text' required='' placeholder=' Denzel Washington')
  //-                   label(for='name') Street Address
  //-                 .connect__form-item
  //-                   input#email(type='email' required='' placeholder=' thebestmail@mail.com')
  //-                   label(for='email') ZIP / Postal Code
  //-                 .connect__form-item
  //-                   .block__select
  //-                       select.select
  //-                         option(value='Country' disabled ) Country
  //-                         option(value='usa' ) usa
  //-                         option(value='uk') uk
  //-                         option(value='Russia') Russia
  //-                         option(value='Somali') Somali
  //-                         option(value='Uganda') Uganda
  //-                       i.icon-i-1.block__icon
  //-             .jucs
  //-               .ord-form__block
  //-                 .ord-form__title-big  El. pašto adresas*
  //-                 .ord-form__line 
  //-                     .connect__form-item
  //-                       input#email(type='email' required='' placeholder=' thebestmail@mail.com')
  //-                       label(for='email') Vardas@pastas.lt
  //-               .ord-form__block
  //-                 .ord-form__title-big  Tel. nr.
  //-                 .ord-form__line
  //-                     .connect__form-item
  //-                       input#email(type='email' required='' placeholder=' thebestmail@mail.com')
  //-                       label(for='email') +370 600 00000


  //- section.bunner.bunner-order.ord.calc
  //-   .container
  //-       .bunner__body
  //-         .ord__title
  //-           h2 SIUNTOS KAINOS SKAIČIUOKLĖ
  //-         form.ord__form.ord-form
  //-           .ord-form__title Siuntiniai
  //-           .ord-form__range
  //-             .ord-form__green
  //-           .connect__form
  //-             ul.calc__links 
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Siuntos tipas
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Plotis
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Aukštis
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Ilgis
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Svoris
  //-             .ord-form__block
  //-               a(href="#!").calc__button.btn.btn--success Pridėti siuntinį 
  //-               span There are no siuntiniai.
  //-             .jucs
  //-               .ord-form__block
  //-                 .ord-form__title-big  Nested forms count
  //-                 .ord-form__line 
  //-                     .connect__form-item
  //-                       input#count(type='text' required='' placeholder='0')
  //-                       a(href="#!").btn.btn--success.calc__button Siuntėjo informacija 
             
       
  //- section.bunner.bunner-order.ord.price
  //-   .container
  //-       .bunner__body
  //-         .ord__title
  //-           h2 PREKĖS KAINOS UŽKLAUSA
  //-         form.ord__form.ord-form
  //-           .connect__form
  //-             .ord-form__block
  //-               .ord-form__title-big Jūsų vardas, pavardė*
  //-               .ord-form__line
  //-                 .connect__form-item
  //-                   input#name(type='text' required='' placeholder='ppp')
  //-                   label(for='name') Vardas
  //-                 .connect__form-item
  //-                   input#text1(type='text' required='' placeholder='pp')
  //-                   label(for='text1') Pavardė
  //-             .jucs
  //-               .ord-form__block
  //-                 .ord-form__title-big El. pašto adresas*
  //-                 .ord-form__line
  //-                   .connect__form-item
  //-                     input#name(type='text' required='' placeholder='ppp')
  //-                     label(for='name') Vardas@pastas.lt
  //-               .ord-form__block
  //-                 .ord-form__title-big Tel. nr.
  //-                 .ord-form__line
  //-                   .connect__form-item
  //-                     input#text1(type='text' required='' placeholder='pp')
  //-                     label(for='text1') +370 600 00000
           
  //-             .jucs
  //-               .fdc
  //-                 .ord-form__title-big  Nuoroda į produktą (URL)*
  //-                 .ord-form__line 
  //-                       .connect__form-item
  //-                         span +
  //-                         input#text2(type='text' required='' placeholder='pp')
  //-                         .connect__description Įrašykite nuorodą į jūsų norimo produkto pirkimo puslapį. (Pvz.: amazon, ebay, ir t.t.)
  //-               a(href="#!").btn.btn--success.ord__button--large Gauti Pasiūlymą
  //- section.bunner.bunner-order.ord.price
  //-   .container
  //-       .bunner__body
  //-         .ord__title
  //-           h2 Paėmimas iš
  //-         form.ord__form.ord-form
  //-           .ord-form__title Siuntėjo informacija
  //-           .ord-form__range
  //-             .ord-form__green
  //-           .connect__form
  //-             .ord-form__block
  //-               .ord-form__title-big Address
  //-               .ord-form__line
  //-                 .connect__form-item
  //-                   input#name(type='text' required='' placeholder='ppp')
  //-                   label(for='name') Street Address
  //-                 .connect__form-item
  //-                   input#text1(type='text' required='' placeholder='pp')
  //-                   label(for='text1') ZIP / Postal Code
  //-             .jucs
  //-               .ord-form__block
  //-                 .ord-form__title-big  El. pašto adresas*
  //-                 .ord-form__line 
  //-                     .connect__form-item
  //-                       input#email(type='email' required='' placeholder='pp')
  //-                       label(for='email') Vardas@pastas.lt
  //-               .ord-form__block
  //-                 .ord-form__title-big  Tel. nr.
  //-                 .ord-form__line
  //-                     .connect__form-item
  //-                       input#phone(type='phone' required='' placeholder='pp')
  //-                       label(for='phone') +370 600 00000
  //-             .jucs
  //-               .fdc
  //-                 .ord-form__title-big  Nuoroda į produktą (URL)*
  //-                 .ord-form__line 
  //-                       .connect__form-item
  //-                         span +
  //-                         input#text2(type='text' required='' placeholder='pp')
  //-                         .connect__description Įrašykite nuorodą į jūsų norimo produkto pirkimo puslapį. (Pvz.: amazon, ebay, ir t.t.)
  //-               a(href="#!").btn.btn--success.ord__button--large Gauti Pasiūlymą
             
  //- section.bunner.bunner-order.ord.calc
  //-   .container
  //-       .bunner__body
  //-         .ord__title
  //-           h2 SIUNTOS KAINOS SKAIČIUOKLĖ
  //-         form.ord__form.ord-form
  //-           .ord-form__title Siuntiniai
  //-           .ord-form__range
  //-             .ord-form__green
  //-           .connect__form
  //-             ul.calc__links 
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Siuntos tipas
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Plotis
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Aukštis
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Ilgis
  //-               li.calc__item
  //-                 a(href="#!").calc__link  Svoris
  //-             .ord-form__block
  //-               a(href="#!").calc__button.btn.btn--success Pridėti siuntinį 
  //-               span There are no siuntiniai.
  //-             .jucs
  //-               .ord-form__block
  //-                 .ord-form__title-big  Nested forms count
  //-                 .ord-form__line 
  //-                     .connect__form-item
  //-                       input#count(type='text' required='' placeholder='0')
  //-                       a(href="#!").btn.btn--success.calc__button Siuntėjo informacija 
             
       



              
       







  //- section.bunner.bunner--service
  //-   .container
  //-     .bunner__body
  //-       .bunner__title
  //-         h1  ADRESO PASLAUGA

  //- section.bunner.bunner--contacts.bunner--service
  //-   .container
  //-     .bunner--contacts__body
  //-       .bunner__col
  //-         .bunner__pre-title  PREKIŲ SIUNTIMAS IŠ JK
  //-         .bunner__title
  //-           h1 ADRESO PASLAUGA
  //-         .bunner__address.address
  //-           .address__title Gaukite adresą Londone!
  //-           .address__text Jūsų el. pašto adresas
  //-           form.address__form
  //-             input(type="address" id="address-form" placeholder="vardas@pastas.lt")
  //-             button(type="submit" id="submit-form").btn.btn--success Gauti adresą 

  //-       .bunner__col
  //-         .bunner__title-serv
  //-           h2 Kodėl verta?
  //-         .bunner__items
  //-           .bunner__item.bunner-item
  //-             .bunner-item__number 01
  //-             .bunner-item__text Pirk iš skirtingų parduotuvių neribotai
  //-           .bunner__item.bunner-item
  //-             .bunner-item__number 02
  //-             .bunner-item__text Krauk visas prekes į vieną dėžę
  //-           .bunner__item.bunner-item
  //-             .bunner-item__number 03
  //-             .bunner-item__text Mokėk kaip už vieną siuntą



//- section.first.first--about
//-   header.header
//-     .container
//-       .header__body
//-         a(href="#!").header__logo
//-           img(src="assets/img/header/svg/logo.svg",alt="img")
//-         nav.header__menu.menu
//-           i.icon-close2.header__close
//-           ul.menu__list
//-             li.menu__item
//-                 a.menu__link(href="#!").menu__link--active KAINOS UŽKLAUSA
//-             - 
//-                     items = [
//-                         { title: "ADRESO PASLAUGA ", url: "#!"},
//-                         { title: "SIUNTOS", url: "#!"},
//-                         { title: "TRANSPORTAS", url: "#!"},
//-                         { title: "APIE MUS", url: "#!"},
//-                         { title: "KONTAKTAI", url: "#!"},
//-                       ]
//-             each item in items
//-               li.menu__item
//-                 a.menu__link(href=item.url)=item.title
//-         .header__info.info
//-           .info_search
//-             input(type='text' placeholder='SIUNTOS SEKIMAS')
//-             i.icon-search
  
//-         i.icon-menu.header__burger

  section.bunner.bunner--about
    .container
      .bunner__body
        .bunner__title
          h1  KODĖL VERTA RINKTIS MUS?
        .bunner__items
          .bunner__item
            .bunner__img
              img(src="assets/img/about/svg/i-1.svg",alt="img")
            .bunner__text 
              p Greitas pristatymas.
              p Pristatysime per 5-7 darbo dienas.
          .bunner__item
            .bunner__img
              img(src="assets/img/about/svg/i-2.svg",alt="img")
            .bunner__text 
              p Jokios rizikos.
              p Visos siuntos yra apdraustos.
          .bunner__item
            .bunner__img
              img(src="assets/img/about/svg/i-3.svg",alt="img")
            .bunner__text 
              p Geriausi kainos pasiūlymai.
              p JK parduotuvių siūlomos nuolaidos.













  //- section.bunner.bunner--contacts
  //-   .container
  //-     .bunner--contacts__body
  //-       .bunner__col
  //-         .bunner__pre-title  BIG7EXPRESS
  //-         .bunner__title
  //-           h1 TURITE KLAUSIMŲ?

  //-       .bunner__col.connect
  //-         form.connect__form
  //-           .connect__form-item
  //-             input#name(type='text' required='' placeholder=' ')
  //-             label(for='name') Vardas
  //-           .connect__form-item
  //-             input#phone(type='phone' required='' placeholder=' ')
  //-             label(for='phone') TEL. NUMERIS
  //-           .connect__form-item
  //-             input#email(type='email' required='' placeholder=' ')
  //-             label(for='email') EL. PAŠTAS
  //-           .connect__form-item
  //-             textarea#message(type='text' required='' placeholder=' ' wrap="off")
  //-             label(for='message') Žinutė
  //-             ._mark
  //-           .form__submit-button
  //-             button#submit-button.btn.btn--success SIŪSTI











//- section.first.first--about
//-   header.header
//-     .container
//-       .header__body
//-         a(href="#!").header__logo
//-           img(src="assets/img/header/svg/logo.svg",alt="img")
//-         nav.header__menu.menu
//-           i.icon-close2.header__close
//-           ul.menu__list
//-             li.menu__item
//-                 a.menu__link(href="#!").menu__link--active KAINOS UŽKLAUSA
//-             - 
//-                     items = [
//-                         { title: "ADRESO PASLAUGA ", url: "#!"},
//-                         { title: "SIUNTOS", url: "#!"},
//-                         { title: "TRANSPORTAS", url: "#!"},
//-                         { title: "APIE MUS", url: "#!"},
//-                         { title: "KONTAKTAI", url: "#!"},
//-                       ]
//-             each item in items
//-               li.menu__item
//-                 a.menu__link(href=item.url)=item.title
//-         .header__info.info
//-           .info_search
//-             input(type='text' placeholder='SIUNTOS SEKIMAS')
//-             i.icon-search
  
//-         i.icon-menu.header__burger



















     


