footer#footer.footer
    .up_down_btn(title='Наверх') 
    img(src="assets/img/footer/png/footer-cec.png",alt="img").footer__img
    .container
      .footer__title
        h2  Ready to get started?

      .footer__body
        .footer__item.footer-item
          .footer-item__title BENDRA INFORMACIJA
          .footer-item__description
            a(href="#!").footer-item__line  DUK
            a(href="#!").footer-item__line  Kontaktai
            a(href="#!").footer-item__line  Privatumo politika
        .footer__item.footer-item
          .footer-item__title PASLAUGOS
          .footer-item__description
            a(href="#!").footer-item__line Siuntos
            a(href="#!").footer-item__line Užsakymai iš JK
            a(href="#!").footer-item__line Adreso paslauga
        
        .footer__item.footer-item
          .footer-item__title KONTAKTAI
          .footer-item__description
            a(href="#!").footer-item__line  LT +370 627 77757
            a(href="#!").footer-item__line  UK +44 77077 03770
            a(href="#!").footer-item__line  info@BIG7express.lt
         
        .footer__item.footer-item
          .footer-item__title ADRESAS
          .footer-item__description
            p.footer-item__line  Unit 1, Bretts Farm
            p.footer-item__line  Aveley, South Ockendon
            p.footer-item__line  RM15 4XD,
            p.footer-item__line  Jungtinė Karalystė
        
      .footer__low
          a(href="#!").footer__logo
            img(src="assets/img/footer/svg/logo-footer.svg" alt="logo")
          .footer__copyright © 2021 - BIG7EXPRESS. ALL RIGHTS RESERVED. CREDIT.
          .footer__soc.soc
            a(href="#!").soc__item
              i.icon-facebook-dark1
            a(href="#!").soc__item
              i.icon-linkedin2
            a(href="#!").soc__item
              i.icon-twitter1