section#letter.letter
 .letter__wrapper
    .container
      .letter__body
        .letter__pre-title GAUKITE NAUJAUSIUS PASIŪLYMUS APIE MŪSŲ PASLAUGAS!
        .letter__title
          h2 PRENUMERUOKITE NAUJIENLAIŠKĮ
        .letter__decor
        form.letter__form.letter-form
                input(type='text' placeholder='Įveskite el. pašto adresą')
                button(type="submit") 	PRENUMERUOTI
                .letter-form__item
                    input#c(type='checkbox' value="1")
                    label(for='c')   Aš perskaičiau ir sutinku su privatumo politiką.
