section#news.news
    .container
      .news__body
        .news__title.title
          h2 NAUJIENOS
          span.title__description  NAUJAUSIOS TRANSPORTO IR LOGISTIKOS NAUJIENOS
          img(src="assets/img/news/svg/decor.svg",alt="img").news__decor 
        .news__slider.slider
            img(src="assets/img/news/png/decor-1.png",alt="img").news__decor-dotts
            ul.slider__slider.slider__body.slider-js-2
                li.slider__item.news-slide.slider__item--wide-1
                  .news-slide__body(style="background-image: url('assets/img/news/png/png-1.png')")
                    .news-slide__title  
                      h4 GOODS CONTAIN IN SAFE PLACE
                    p.news-slide__description Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                    a(href="#!").news-slide__link Read more
                      i.icon-i-1

                li.slider__item.news-slide.slider__item--wide
                  .news-slide__body(style="background-image: url('assets/img/news/png/png-2.png')")
                    .news-slide__title  
                      h4 REDUCING FREIGHT COSTS
                    p.news-slide__description Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                    a(href="#!").news-slide__link Read more
                      i.icon-i-1
                  .news-slide__body(style="background-image: url('assets/img/news/png/png-3.png')")
                    .news-slide__title  
                      h4 ROAD TRANSPORT & LOGISTICS
                    p.news-slide__description Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                    a(href="#!").news-slide__link Read more
                      i.icon-i-1
                li.slider__item.news-slide
                  .news-slide__body(style="background-image: url('assets/img/news/png/png-4.png')")
                    .news-slide__title  
                      h4 THE LOVE OF LONG WALK
                    p.news-slide__description Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                    a(href="#!").news-slide__link Read more
                      i.icon-i-1
             
                li.slider__item.news-slide
                  .news-slide__body(style="background-image: url('assets/img/news/png/png-4.png')")
                    .news-slide__title  
                      h4 THE LOVE OF LONG WALK
                    p.news-slide__description Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                    a(href="#!").news-slide__link Read more
                      i.icon-i-1
             
             
                li.slider__item.news-slide
                  .news-slide__body(style="background-image: url('assets/img/news/png/png-4.png')")
                    .news-slide__title  
                      h4 THE LOVE OF LONG WALK
                    p.news-slide__description Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                    a(href="#!").news-slide__link Read more
                      i.icon-i-1
             
                li.slider__item.news-slide
                  .news-slide__body(style="background-image: url('assets/img/news/png/png-4.png')")
                    .news-slide__title  
                      h4 THE LOVE OF LONG WALK
                    p.news-slide__description Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                    a(href="#!").news-slide__link Read more
                      i.icon-i-1
             
                li.slider__item.news-slide
                  .news-slide__body(style="background-image: url('assets/img/news/png/png-4.png')")
                    .news-slide__title  
                      h4 THE LOVE OF LONG WALK
                    p.news-slide__description Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                    a(href="#!").news-slide__link Read more
                      i.icon-i-1
             

