section#new.new
    .container
      .new__body
        .slider
            ul.slider__slider.slider__body.slider-js-new
                li.slider__item.slider-card
                  .slider-card__pre-title actual
                  .slider-card__title GOODS CONTAIN IN SAFE PLACE
                  .slider-card__dec
                  .slider-card__text  Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                  a(href='#!').slider-card__button  Read more
                    i.icon-i-11
                  .slider-card__img.imgs  
                    img(src='assets/img/news-page/card-new.jpg', alt='img')
                li.slider__item.slider-card
                  .slider-card__pre-title actual
                  .slider-card__title GOODS CONTAIN IN SAFE PLACE
                  .slider-card__dec
                  .slider-card__text  Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                  a(href='#!').slider-card__button  Read more
                    i.icon-i-11
                  .slider-card__img.imgs  
                    img(src='assets/img/news-page/card-new.jpg', alt='img')
                li.slider__item.slider-card
                  .slider-card__pre-title actual
                  .slider-card__title GOODS CONTAIN IN SAFE PLACE
                  .slider-card__dec
                  .slider-card__text  Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                  a(href='#!').slider-card__button  Read more
                    i.icon-i-11
                  .slider-card__img.imgs  
                    img(src='assets/img/news-page/card-new.jpg', alt='img')
                li.slider__item.slider-card
                  .slider-card__pre-title actual
                  .slider-card__title GOODS CONTAIN IN SAFE PLACE
                  .slider-card__dec
                  .slider-card__text  Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                  a(href='#!').slider-card__button  Read more
                    i.icon-i-11
                  .slider-card__img.imgs  
                    img(src='assets/img/news-page/card-new.jpg', alt='img')
                li.slider__item.slider-card
                  .slider-card__pre-title actual
                  .slider-card__title GOODS CONTAIN IN SAFE PLACE
                  .slider-card__dec
                  .slider-card__text  Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                  a(href='#!').slider-card__button  Read more
                    i.icon-i-11
                  .slider-card__img.imgs  
                    img(src='assets/img/news-page/card-new.jpg', alt='img')
                li.slider__item.slider-card
                  .slider-card__pre-title actual
                  .slider-card__title GOODS CONTAIN IN SAFE PLACE
                  .slider-card__dec
                  .slider-card__text  Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
                  a(href='#!').slider-card__button  Read more
                    i.icon-i-11
                  .slider-card__img.imgs  
                    img(src='assets/img/news-page/card-new.jpg', alt='img')