section#order.order
    .container
      .order__body
        .order__title  
          h2  FAQ
        ul.order__items
            li.order__item
                img(src="assets/img/order/svg/i1.svg",alt="img").order__img
                .order__text  1. Kaip galiu sumokėti už prekes?
            li.order__item
                img(src="assets/img/order/svg/i1.svg",alt="img").order__img
                .order__text 2. Ar privalėsiu susikurti paskyrą tam, kad įsigyčiau  prekes?
            li.order__item
                img(src="assets/img/order/svg/i1.svg",alt="img").order__img
                .order__text 3. Kokiu būdu pristatysite mano prekes?
            li.order__item
                img(src="assets/img/order/svg/i1.svg",alt="img").order__img
                .order__text 4. Ar galiu gauti pasiūlymą kelioms prekėms iš karto?
            li.order__item
                img(src="assets/img/order/svg/i1.svg",alt="img").order__img
                .order__text 5. Ar galėsiu sekti savo užsakymą?
            li.order__description 
              p Taip. Patvirtinus užsakymą gausi unikalų užsakymo kodą. Eik į mūsų svetainę, suvesk kodą ir matyk užsakymo buvimo vietą.Ką daryti, jeigu mano siunta atkeliavo pažeista?
              p Jūs turite susisiekti su mumis kuo skubiau bei pateikti įrodymus, t.y. aprašymą apie pažeistą siuntą arba pažeistas prekes ir tai įrodančias nuotraukas. Mes įvertinsime padarytą žalą bei nustatysime kompensacijos dydį.
              img(src="assets/img/order/png/decor.png", alt="").order__decor
            li.order__item
                img(src="assets/img/order/svg/i1.svg",alt="img").order__img
                .order__text 6. Ar Big7express atsako už prekių gamybinį broką?
            li.order__item
                img(src="assets/img/order/svg/i1.svg",alt="img").order__img
                .order__text 7. Ar galiu atšaukti savo užsakymą ir atgauti sumokėtus pinigus?
      