section#order.order
    .container
      .order__body
        .order__title
          h2  FAQ
        .order__item
            img(src="assets/img/order/svg/i1.svg",alt="img").order__img
            .order__text  1. Kaip galiu sumokėti už prekes?
        .order__item
            img(src="assets/img/order/svg/i1.svg",alt="img").order__img
            .order__text 2. Ar privalėsiu susikurti paskyrą tam, kad įsigyčiau        prekes?
        .order__item
            img(src="assets/img/order/svg/i1.svg",alt="img").order__img
            .order__text 3. Kokiu būdu pristatysite mano prekes?
        .order__item
            img(src="assets/img/order/svg/i1.svg",alt="img").order__img
            .order__text 4. Ar galiu gauti pasiūlymą kelioms prekėms iš karto?
        .order__item
            img(src="assets/img/order/svg/i1.svg",alt="img").order__img
            .order__text 5. Ar galėsiu sekti savo užsakymą?

        .order__description Taip. Patvirtinus užsakymą gausi unikalų užsakymo kodą. Eik į mūsų svetainę, suvesk kodą ir matyk užsakymo buvimo vietą.Ką daryti, jeigu mano siunta atkeliavo pažeista?Jūs turite susisiekti su mumis kuo skubiau bei pateikti įrodymus, t.y. aprašymą apie pažeistą siuntą arba pažeistas prekes ir tai įrodančias nuotraukas. Mes įvertinsime padarytą žalą bei nustatysime kompensacijos dydį.
    
        .order__item
            img(src="assets/img/order/svg/i1.svg",alt="img").order__img
            .order__text 6. Ar Big7express atsako už prekių gamybinį broką?
        .order__item
            img(src="assets/img/order/svg/i1.svg",alt="img").order__img
            .order__text 7. Ar galiu atšaukti savo užsakymą ir atgauti sumokėtus pinigus?

