section#call.call.call--service
        .call__wrapper
          .container
            .call__body
                .call__img
                  img(src="assets/img/contacts/svg/calling.svg",alt="img")
                .fdc
                  .call__title Turite klausimų dėl mūsų paslaugų?
                  .call__text There are many variations of passages of Lorem Ipsum      avaliable, but the majority have suffered alteration.
                a(href="#!").call__button.btn.btn--success Susisiekite