section#trans.trans
    .container
      .trans__body
        .trans__item.trans-item
          .trans-item__title 
            h3 NORI PIRKTI NEVARŽOMAI PATS?
          .trans-item__text Gauk nuosavą adresą Londone. Krauk pirkinių krepšelį kiek tinakmas. Naudok naują adresą. Tau panorėjus pirkinius pristatysime kaip vieną siuntą.
          a(href="#!").btn.btn--empty.trans-item__button Gauti adresą
        .trans__item.trans-item
          .trans-item__title 
            h3  VEŽAME SIUNTAS
          .trans-item__text Gabename siuntas tarp Anglijos ir Lietuvos. Vežame nestandartinius krovinius.
          a(href="#!").btn.btn--empty.trans-item__button Pildyti Formą
