section#treking.treking
    .treking__wrapper.imgs
      picture
        source(srcset='assets/img/treking/treking.jpg'  type='image/jpg'  media='(min-width: 1200px)')
        source(srcset='assets/img/treking/treking.jpg' type='image/jpg'  media='(min-width: 768px) and (max-width: 1199px)')
        source(srcset='assets/img/treking/treking.jpg' type='image/jpg'  media='(max-width: 767px)')
        img(src='assets/img/treking/treking.jpg', alt='img')
    .container
      .treking__body.alic.fdc
        .treking__title 
          h2  Parašyk arba paskambink
        .treking__text
          p Kilo klausimų dėl siuntos buvimo vietos? Siunta vėluoja? 
          p Nedelsk, mes Jums padėsime!
        ul.treking__address
          li.treking__item  +44 77077 03770
          li.treking__item  +370 627 77757
          li.treking__item  info@big7express.lt