extends ../layout/main
block header
  include ../modules/first
block content
  
  //- include ../modules/cost
  //- include ../modules/trans
  //- include ../modules/news
  //- include ../modules/feedback
  //- include ../modules/letter
  //- include ../modules/contacts
  include ../modules/about

block footer
  //- include ../modules/modal
  include ../modules/footer 
  