extends ../layout/main
block header
  include ../modules/first
block content
  
  include ../modules/cost
  include ../modules/trans
  include ../modules/news
  include ../modules/feedback
  include ../modules/letter
  include ../modules/contacts
  //- include ../modules/about
  //- include ../modules/buy
  //- include ../modules/treking
  //- include ../modules/news-page
  //- include ../modules/service
  //- include ../modules/order

block footer
  //- include ../modules/modal
  include ../modules/footer 
  