.bunner-order
  +background-img("/assets/img/order/png/bg.png")



.order
.order__body
  
.order__title
    h2  
      font-size: 40px
      +f700
      color: $black
.order__item
  +jucs	
.order__text
  color: #000000
  +f500
.order__img
  margin: 0 50px 20px 0
.order__description
  color: $active
  padding: 0 0 20px 80px

.ord__title
  h2
    font-size: 40px
    +f700
.ord
   .bunner__body  
      padding: 200px 0 0 0
.ord-form__title
  +f700
.ord-form__range
  width: 756px
  height: 6px
  border-radius: 6px
  +bg(white)
  position: relative
  &:after
    content: ""
    background-color: $active
    position: absolute
    width: 50%
    height: 13px
    top: 50% 
    left: 0%
    z-index: 2
    border-radius: 13px
    transform: translate(0%,-50%)







